@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {}

  .blue-txt{
    color: #1ac5cd
  }

  .bg-blue{
    background-color: #1ac5cd;
  }

  .text-shadow {
   

    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  }  .licorne{
    height: fit-content;
  }

  .navbar {
    position: fixed;
    z-index: 999;
  }

  h1{
    font-family: 'Montserrat', sans-serif;
  }

  h2{
    font-family: 'Josefin Sans', sans-serif;
  }
